<h1>Microposts#edit</h1>

<% if @micropost.errors.any? %>
  <%= @micropost.errors.count %>件のエラーが発生しました
  <ul>
    <% @micropost.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model:@micropost,url:micropost_path(@micropost.id),method: :patch do |f| %>
  <%= f.text_area :content %>
  <%= f.submit "更新" %>
<% end %>
